<h1>contact</h1>
<p>0141 123 123</p>


<%= form_for :enquiry, :url => { :action => "enquiry" } do |f| %>
	<%= f.label :name %> 
  <%= f.text_field :name %><br>
  <%= f.label :email %> 
  <%= f.text_field :email %><br>
  <%= f.label :phone %> 
  <%= f.text_field :phone %><br>
  <%= f.label :room %> 
  <%= f.select(:room, ['Penthouse', 'Room 1', 'Room 2']) %> <br>
  <%= f.label :message %> 
  <%= f.text_area :message, :size => "60x12" %><br>
  <%= submit_tag "Create" %>
<% end %>